.member-and-logout{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.member-container{
}

.member-table{
    display: flex;
    align-items: flex-start;
}

.member-name{
    color: white;
    padding-right: 4px;
    padding-left: 4px;
}

.member-separator{
    color: white;
    padding-right: 4px;
    padding-left: 4px;
}

.member-job-title{
    color: white;
    padding-right: 4px;
    padding-left: 4px;
}



.logout-container-and-configurations{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.logout-container{
}

.logout-btn{
    padding-right: 5px;
    color: white;
    font-size: 18px;
}
