.member-and-logout{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.member-container{
}

.member-table{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 13px;
}

.member-name{
    color: white;
    padding-right: 2px;
    padding-left: 2px;
}

.member-separator{
    color: white;
    padding-right: 2px;
    padding-left: 2px;
}

.member-job-title{
    color: white;
    padding-right: 2px;
    padding-left: 2px;

}

.logout-container-and-configurations{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 13px;

}

.logout-container{

}

.logout-btn{
    color: white;
    font-size: 13px;
    padding-right: 2px;
    padding-left: 2px;
}
