.tabs-container{
    display: flex;
    align-content: center;
    justify-content: center;
}

.microservice-container{
}

.project-domain-container{
}

.microservice-header{
    font-size: 20px;
    color: black;
    padding: 4px;
}